@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="taskograph">taskograph</h1>
    <p>Program that measures personal tasks (eg. reading, running, working, cooking) duration on each day. Provides charts of your efficiency (eg how much time you&#39;ve spent reading in a day/week/month). Helps to focus on goals and maintain pace of productivity.</p>
    <h2 id="concept-ui">Concept UI</h2>
    <h2>Navigation bar</h2>
        <ol>
            <li>
                Task Mode   -&gt; Main place of the program, where you add and measure activities you do during the day.
            </li>
            <li>
                Targets     -&gt; View specific targets dates you have set up so you know how much time you have left to complete it. Or view compleated tasks to celebrate your achievements.
            </li>
            <li>
                Graphs      -&gt; See charts of your productivity in the last day, week, month, year.
            </li>
            <li>
                Motivation  -&gt; Get motivated to work harder by reading some inspirational quotes or thoughts, celebrating your achivements.
            </li>
        </ol>
</div>
