@model TaskViewModel
@using Task = taskograph.Models.Tables.Task;


<h1>Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Group</th>
            <th scope="col">Task</th>
            <th scope="col">Start</th>
            <th scope="col">Add time</th>
            <th scope="col">Total today</th>
        </tr>
    </thead>


    <tbody>
        @{
            foreach (Task task in Model.Tasks)
            {
                <tr>
                    <td>@task.Group.Name</td>
                    <td>@task.Name</td>
                    <td>StartTimerButton</td>
                    <td>AddTimeButton</td>
                    <td>TotalTimeToday</td>
                </tr>
            }
        }
    </tbody>
</table>
